@model IEnumerable<eNews.Models.NewsIndexListingModel>

<br />
<form asp-action="Index" method="POST">
    <div class="row input-group">
        <input type="text" name="search" id="search" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-center">News Portal</h2>
    </div>

    <div class="col-12 border p-3">
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            string author = item.User != null ? item.User.FirstName + " " + item.User.LastName : "";
                        }

                        <td>
                            <h3>@item.Title</h3>
                            <h5>@item.ContentType</h5>
                            <h6>@item.Keywords</h6>
                            <p>@item.Description</p>
                            <p>@author</p>
                            <a class="btn btn-primary" href="@Url.Action("Upsert", "News", new { id = item.Id })">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Upsert" asp-controller="News" class="btn btn-info form-control text-white">
            Add News
        </a>
    </div>
</div>